@import './base.css';
:root {
  --main-color: #D93D66;
  --secondary-color: #732F54;
  --tertiary-color: #FFC107;
  --accent-green: #41BF91;
  --accent-dark-blue: #313759;
  --accent-darker-blue: #0d1117;
  --accent-light-blue: #007bff;
  --accent-cream: #D9C8A9;
  --white: #FFFFFF;
  --black: #000000;
  
  --font-family: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--accent-darker-blue);
  color: var(--white);
}

#app {
  max-width: 100%;
  font-weight: normal;
  font-family: var(--font-family);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
