@import './base.css';
@import "tailwindcss";
:root {
  --main-color: #F2055C;
  --secondary-color: #ff4e66;
  --tertiary-color: #732441;
  --bg: #0D0000;
  --white: #ffffff;
  --black: #000000;
}

/* NORMAL */
@font-face {
  font-family: 'Space Grotesk';
  src: url('@/assets/fonts/space-grotesk-latin-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('@/assets/fonts/space-grotesk-latin-600-normal.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Space Grotesk';
  src: url('@/assets/fonts/space-grotesk-latin-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

/* EXTENDED (HEADLINE ONLY) */
@font-face {
  font-family: 'Space Grotesk Ext';
  src: url('@/assets/fonts/space-grotesk-latin-ext-700-normal.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

body {
  background-color: var(--bg);
  color: var(--white);
  font-family: 'Space Grotesk', sans-serif;
}

#app {
  max-width: 100%;
}

/* a,
.blue {
  text-decoration: none;
  color: var(--accent-light-blue);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--accent-dark-blue);
    color: var(--white);
  }
} */

/* Pengaturan spesifik untuk tiap Div */

.about .project {
  margin: 20px 0;
  padding: 30px 20px;
}
